<html>
      {% extends 'template.html' %}

      <body>
            {% block content %}

            <form action="{{ url_for('outreach') }}" method="POST">
            
                  <a href="{{ url_for('index') }}">
                        <h1>Return to Main</h1>
                  </a>
            
                  <div class="outreach_box">
                        <h3>Fine Grain</h3>
                        <label for="address">Address</label> <br>
                        <input type="text" id="address" name="address">
            
                        <br><br>
            
                        <label for="city">City</label><br>
                        <input type="text" id="city" name="city">
            
                        <br> <br>
            
                        <label for="zipcode">Zip Code</label><br>
                        <input type="text" id="zipcode" name="zipcode">
                  </div>

                  <div class="outreach_box">
                        <h3>Coarse Grain</h3>
                        <label for="precincts">Select a Precinct</label> <br> <br>
                        <select name="precincts" id="precincts">
                              <option value="NONE" selected disabled hidden></option>
                              <option value="10001">10001</option>
                              <option value="10002">10002</option>
                              <option value="10003">10003</option>
                              <option value="10004">10004</option>
                              <option value="10005">10005</option>
                              <option value="10006">10006</option>
                              <option value="10007">10007</option>
                              <option value="10008">10008</option>
                              <option value="10009">10009</option>
                              <option value="10010">10010</option>
                              <option value="10011">10011</option>
                              <option value="10012">10012</option>
                              <option value="10013">10013</option>
                              <option value="10014">10014</option>
                              <option value="10015">10015</option>
                              <option value="10016">10016</option>
                              <option value="10017">10017</option>
                              <option value="10018">10018</option>
                              <option value="10019">10019</option>
                              <option value="10020">10020</option>
                              <option value="10021">10021</option>
                              <option value="10022">10022</option>
                              <option value="10024">10024</option>
                              <option value="10025">10025</option>
                              <option value="10026">10026</option>
                              <option value="12001">12001</option>
                              <option value="12002">12002</option>
                              <option value="12003">12003</option>
                              <option value="12004">12004</option>
                              <option value="12005">12005</option>
                              <option value="12006">12006</option>
                              <option value="12007">12007</option>
                              <option value="12008">12008</option>
                              <option value="12009">12009</option>
                              <option value="12010">12010</option>
                              <option value="12012">12012</option>
                              <option value="12013">12013</option>
                              <option value="12014">12014</option>
                              <option value="12017">12017</option>
                              <option value="12018">12018</option>
                              <option value="12019">12019</option>
                              <option value="12020">12020</option>
                              <option value="12036">12036</option>
                              <option value="12037">12037</option>
                              <option value="12038">12038</option>
                              <option value="12039">12039</option>
                              <option value="12040">12040</option>
                              <option value="14001">14001</option>
                              <option value="14002">14002</option>
                              <option value="14003">14003</option>
                              <option value="14004">14004</option>
                              <option value="14005">14005</option>
                              <option value="14006">14006</option>
                              <option value="14007">14007</option>
                              <option value="14008">14008</option>
                              <option value="14009">14009</option>
                              <option value="14010">14010</option>
                              <option value="14011">14011</option>
                              <option value="15001">15001</option>
                              <option value="15002">15002</option>
                              <option value="15003">15003</option>
                              <option value="15004">15004</option>
                              <option value="15005">15005</option>
                              <option value="15006">15006</option>
                              <option value="15007">15007</option>
                              <option value="15008">15008</option>
                              <option value="15009">15009</option>
                              <option value="15010">15010</option>
                              <option value="15011">15011</option>
                              <option value="15012">15012</option>
                              <option value="15013">15013</option>
                              <option value="15014">15014</option>
                              <option value="15015">15015</option>
                              <option value="15016">15016</option>
                              <option value="15017">15017</option>
                              <option value="15018">15018</option>
                              <option value="15019">15019</option>
                              <option value="17001">17001</option>
                              <option value="17002">17002</option>
                              <option value="17003">17003</option>
                              <option value="17004">17004</option>
                              <option value="17005">17005</option>
                              <option value="17006">17006</option>
                              <option value="17101">17101</option>
                              <option value="17102">17102</option>
                              <option value="17103">17103</option>
                              <option value="17104">17104</option>
                              <option value="17105">17105</option>
                              <option value="17106">17106</option>
                              <option value="17202">17202</option>
                              <option value="17203">17203</option>
                              <option value="17802">17802</option>
                              <option value="17803">17803</option>
                              <option value="17904">17904</option>
                              <option value="18001">18001</option>
                              <option value="18002">18002</option>
                              <option value="18003">18003</option>
                              <option value="18004">18004</option>
                              <option value="18006">18006</option>
                              <option value="18007">18007</option>
                              <option value="18008">18008</option>
                              <option value="18010">18010</option>
                              <option value="18011">18011</option>
                              <option value="18012">18012</option>
                              <option value="18013">18013</option>
                              <option value="18014">18014</option>
                              <option value="18015">18015</option>
                              <option value="18016">18016</option>
                              <option value="18018">18018</option>
                              <option value="18019">18019</option>
                              <option value="18020">18020</option>
                              <option value="18021">18021</option>
                              <option value="18024">18024</option>
                              <option value="18033">18033</option>
                              <option value="18034">18034</option>
                              <option value="18035">18035</option>
                              <option value="18036">18036</option>
                              <option value="18037">18037</option>
                              <option value="18038">18038</option>
                              <option value="18047">18047</option>
                              <option value="18048">18048</option>
                              <option value="18049">18049</option>
                              <option value="18050">18050</option>
                              <option value="18051">18051</option>
                              <option value="18052">18052</option>
                              <option value="18053">18053</option>
                              <option value="18054">18054</option>
                              <option value="18055">18055</option>
                              <option value="18056">18056</option>
                              <option value="18057">18057</option>
                              <option value="18058">18058</option>
                              <option value="18059">18059</option>
                              <option value="18060">18060</option>
                              <option value="18061">18061</option>
                              <option value="18062">18062</option>
                              <option value="18063">18063</option>
                              <option value="18064">18064</option>
                              <option value="18065">18065</option>
                              <option value="18066">18066</option>
                              <option value="21001">21001</option>
                              <option value="21004">21004</option>
                              <option value="21006">21006</option>
                              <option value="21007">21007</option>
                              <option value="21008">21008</option>
                              <option value="21010">21010</option>
                              <option value="21011">21011</option>
                              <option value="21012">21012</option>
                              <option value="21013">21013</option>
                              <option value="21014">21014</option>
                              <option value="21015">21015</option>
                              <option value="21016">21016</option>
                              <option value="21017">21017</option>
                              <option value="21018">21018</option>
                              <option value="21022">21022</option>
                              <option value="21031">21031</option>
                              <option value="21032">21032</option>
                              <option value="21033">21033</option>
                              <option value="21034">21034</option>
                              <option value="22001">22001</option>
                              <option value="22002">22002</option>
                              <option value="22003">22003</option>
                              <option value="22004">22004</option>
                              <option value="22005">22005</option>
                              <option value="22006">22006</option>
                              <option value="22007">22007</option>
                              <option value="22008">22008</option>
                              <option value="22010">22010</option>
                              <option value="22011">22011</option>
                              <option value="22012">22012</option>
                              <option value="22013">22013</option>
                              <option value="22014">22014</option>
                              <option value="22015">22015</option>
                              <option value="22016">22016</option>
                              <option value="22017">22017</option>
                              <option value="22018">22018</option>
                              <option value="22021">22021</option>
                              <option value="22022">22022</option>
                              <option value="22023">22023</option>
                              <option value="22024">22024</option>
                              <option value="22025">22025</option>
                              <option value="22026">22026</option>
                              <option value="22027">22027</option>
                              <option value="22028">22028</option>
                              <option value="26001">26001</option>
                              <option value="26002">26002</option>
                              <option value="26003">26003</option>
                              <option value="26004">26004</option>
                              <option value="26005">26005</option>
                              <option value="26006">26006</option>
                              <option value="26007">26007</option>
                              <option value="26008">26008</option>
                              <option value="26009">26009</option>
                              <option value="26010">26010</option>
                              <option value="26011">26011</option>
                              <option value="26012">26012</option>
                              <option value="26013">26013</option>
                              <option value="26014">26014</option>
                              <option value="26015">26015</option>
                              <option value="26016">26016</option>
                              <option value="26017">26017</option>
                              <option value="26018">26018</option>
                              <option value="26019">26019</option>
                              <option value="26020">26020</option>
                              <option value="26021">26021</option>
                              <option value="26022">26022</option>
                              <option value="26023">26023</option>
                              <option value="26024">26024</option>
                              <option value="26025">26025</option>
                              <option value="26026">26026</option>
                              <option value="26027">26027</option>
                              <option value="26028">26028</option>
                              <option value="26029">26029</option>
                              <option value="26030">26030</option>
                              <option value="26031">26031</option>
                              <option value="26032">26032</option>
                              <option value="26033">26033</option>
                              <option value="26034">26034</option>
                              <option value="26036">26036</option>
                              <option value="26037">26037</option>
                              <option value="26038">26038</option>
                              <option value="26039">26039</option>
                              <option value="26043">26043</option>
                              <option value="26044">26044</option>
                              <option value="26046">26046</option>
                              <option value="26047">26047</option>
                              <option value="26048">26048</option>
                              <option value="26049">26049</option>
                              <option value="26050">26050</option>
                              <option value="26051">26051</option>
                              <option value="26052">26052</option>
                              <option value="26053">26053</option>
                              <option value="26054">26054</option>
                              <option value="26055">26055</option>
                              <option value="26056">26056</option>
                              <option value="26057">26057</option>
                              <option value="26058">26058</option>
                              <option value="26059">26059</option>
                              <option value="26060">26060</option>
                              <option value="26061">26061</option>
                              <option value="26062">26062</option>
                              <option value="26063">26063</option>
                              <option value="26064">26064</option>
                              <option value="26066">26066</option>
                              <option value="26067">26067</option>
                              <option value="26068">26068</option>
                              <option value="26069">26069</option>
                              <option value="26070">26070</option>
                              <option value="26071">26071</option>
                              <option value="26072">26072</option>
                              <option value="26073">26073</option>
                              <option value="26075">26075</option>
                              <option value="26076">26076</option>
                              <option value="26077">26077</option>
                              <option value="26078">26078</option>
                              <option value="26079">26079</option>
                              <option value="26080">26080</option>
                              <option value="26081">26081</option>
                              <option value="26082">26082</option>
                              <option value="26083">26083</option>
                              <option value="26084">26084</option>
                              <option value="26085">26085</option>
                              <option value="26086">26086</option>
                              <option value="26087">26087</option>
                              <option value="26088">26088</option>
                              <option value="26089">26089</option>
                              <option value="26090">26090</option>
                              <option value="26091">26091</option>
                              <option value="27001">27001</option>
                              <option value="30001">30001</option>
                              <option value="30002">30002</option>
                              <option value="30003">30003</option>
                              <option value="30004">30004</option>
                              <option value="30005">30005</option>
                              <option value="30006">30006</option>
                              <option value="30007">30007</option>
                              <option value="30008">30008</option>
                              <option value="30009">30009</option>
                              <option value="30010">30010</option>
                              <option value="30011">30011</option>
                              <option value="31002">31002</option>
                              <option value="31003">31003</option>
                              <option value="31023">31023</option>
                              <option value="31035">31035</option>
                              <option value="31036">31036</option>
                              <option value="33001">33001</option>
                              <option value="33002">33002</option>
                              <option value="33003">33003</option>
                              <option value="33004">33004</option>
                              <option value="33005">33005</option>
                              <option value="33006">33006</option>
                              <option value="33008">33008</option>
                              <option value="33020">33020</option>
                              <option value="33021">33021</option>
                              <option value="33022">33022</option>
                              <option value="33023">33023</option>
                              <option value="33024">33024</option>
                              <option value="33025">33025</option>
                              <option value="33026">33026</option>
                              <option value="33027">33027</option>
                              <option value="33028">33028</option>
                              <option value="33029">33029</option>
                              <option value="34001">34001</option>
                              <option value="34002">34002</option>
                              <option value="34003">34003</option>
                              <option value="34004">34004</option>
                              <option value="34005">34005</option>
                              <option value="34006">34006</option>
                              <option value="34007">34007</option>
                              <option value="34008">34008</option>
                              <option value="34009">34009</option>
                              <option value="34010">34010</option>
                              <option value="34011">34011</option>
                              <option value="34012">34012</option>
                              <option value="34013">34013</option>
                              <option value="34014">34014</option>
                              <option value="34015">34015</option>
                              <option value="34016">34016</option>
                              <option value="34017">34017</option>
                              <option value="35001">35001</option>
                              <option value="35002">35002</option>
                              <option value="35003">35003</option>
                              <option value="35004">35004</option>
                              <option value="35005">35005</option>
                              <option value="35006">35006</option>
                              <option value="35007">35007</option>
                              <option value="35008">35008</option>
                              <option value="35009">35009</option>
                              <option value="35010">35010</option>
                              <option value="35011">35011</option>
                              <option value="35012">35012</option>
                              <option value="35013">35013</option>
                              <option value="35014">35014</option>
                              <option value="35015">35015</option>
                              <option value="35016">35016</option>
                              <option value="35017">35017</option>
                              <option value="35018">35018</option>
                              <option value="35019">35019</option>
                              <option value="35020">35020</option>
                              <option value="35021">35021</option>
                              <option value="35022">35022</option>
                              <option value="35023">35023</option>
                              <option value="35024">35024</option>
                              <option value="35025">35025</option>
                              <option value="35026">35026</option>
                              <option value="35027">35027</option>
                              <option value="35028">35028</option>
                              <option value="35029">35029</option>
                              <option value="35030">35030</option>
                              <option value="35031">35031</option>
                              <option value="35032">35032</option>
                              <option value="35033">35033</option>
                              <option value="35044">35044</option>
                              <option value="35045">35045</option>
                              <option value="35046">35046</option>
                              <option value="35047">35047</option>
                              <option value="35049">35049</option>
                              <option value="35050">35050</option>
                              <option value="35051">35051</option>
                              <option value="36001">36001</option>
                              <option value="36002">36002</option>
                              <option value="36003">36003</option>
                              <option value="36004">36004</option>
                              <option value="36005">36005</option>
                              <option value="36006">36006</option>
                              <option value="36007">36007</option>
                              <option value="36008">36008</option>
                              <option value="36009">36009</option>
                              <option value="36010">36010</option>
                              <option value="36011">36011</option>
                              <option value="36012">36012</option>
                              <option value="36013">36013</option>
                              <option value="36014">36014</option>
                              <option value="36015">36015</option>
                              <option value="36016">36016</option>
                              <option value="36017">36017</option>
                              <option value="36018">36018</option>
                              <option value="36019">36019</option>
                              <option value="36020">36020</option>
                              <option value="36021">36021</option>
                              <option value="36022">36022</option>
                              <option value="36023">36023</option>
                              <option value="36024">36024</option>
                              <option value="36025">36025</option>
                              <option value="36026">36026</option>
                              <option value="36027">36027</option>
                              <option value="36029">36029</option>
                              <option value="36030">36030</option>
                              <option value="36031">36031</option>
                              <option value="36032">36032</option>
                              <option value="36033">36033</option>
                              <option value="36034">36034</option>
                              <option value="36035">36035</option>
                              <option value="36037">36037</option>
                              <option value="36038">36038</option>
                              <option value="36039">36039</option>
                              <option value="36040">36040</option>
                              <option value="36041">36041</option>
                              <option value="36042">36042</option>
                              <option value="36043">36043</option>
                              <option value="36044">36044</option>
                              <option value="37001">37001</option>
                              <option value="37002">37002</option>
                              <option value="37003">37003</option>
                              <option value="37004">37004</option>
                              <option value="37005">37005</option>
                              <option value="37006">37006</option>
                              <option value="37007">37007</option>
                              <option value="37008">37008</option>
                              <option value="37009">37009</option>
                              <option value="37010">37010</option>
                              <option value="37030">37030</option>
                              <option value="37032">37032</option>
                              <option value="37033">37033</option>
                              <option value="37050">37050</option>
                              <option value="37051">37051</option>
                              <option value="37052">37052</option>
                              <option value="37053">37053</option>
                              <option value="37056">37056</option>
                              <option value="37057">37057</option>
                              <option value="37101">37101</option>
                              <option value="37102">37102</option>
                              <option value="37103">37103</option>
                              <option value="37104">37104</option>
                              <option value="37110">37110</option>
                              <option value="37111">37111</option>
                              <option value="37112">37112</option>
                              <option value="37113">37113</option>
                              <option value="37114">37114</option>
                              <option value="37115">37115</option>
                              <option value="37116">37116</option>
                              <option value="37201">37201</option>
                              <option value="37203">37203</option>
                              <option value="37204">37204</option>
                              <option value="37205">37205</option>
                              <option value="37206">37206</option>
                              <option value="37207">37207</option>
                              <option value="37208">37208</option>
                              <option value="37209">37209</option>
                              <option value="37210">37210</option>
                              <option value="37301">37301</option>
                              <option value="37302">37302</option>
                              <option value="37303">37303</option>
                              <option value="37340">37340</option>
                              <option value="37341">37341</option>
                              <option value="37350">37350</option>
                              <option value="37360">37360</option>
                              <option value="37361">37361</option>
                              <option value="37362">37362</option>
                              <option value="37363">37363</option>
                              <option value="37370">37370</option>
                              <option value="37371">37371</option>
                              <option value="37372">37372</option>
                              <option value="37375">37375</option>
                              <option value="37376">37376</option>
                              <option value="37377">37377</option>
                              <option value="37378">37378</option>
                              <option value="37379">37379</option>
                              <option value="37401">37401</option>
                              <option value="37402">37402</option>
                              <option value="37403">37403</option>
                              <option value="37404">37404</option>
                              <option value="37406">37406</option>
                              <option value="37410">37410</option>
                              <option value="37411">37411</option>
                              <option value="37420">37420</option>
                              <option value="37421">37421</option>
                              <option value="37430">37430</option>
                              <option value="37431">37431</option>
                              <option value="37432">37432</option>
                              <option value="37480">37480</option>
                              <option value="37500">37500</option>
                              <option value="37501">37501</option>
                              <option value="37502">37502</option>
                              <option value="37503">37503</option>
                              <option value="37504">37504</option>
                              <option value="37602">37602</option>
                              <option value="37603">37603</option>
                              <option value="37604">37604</option>
                              <option value="37701">37701</option>
                              <option value="37904">37904</option>
                              <option value="37910">37910</option>
                              <option value="37911">37911</option>
                              <option value="37913">37913</option>
                              <option value="37914">37914</option>
                              <option value="37915">37915</option>
                              <option value="37916">37916</option>
                              <option value="37917">37917</option>
                              <option value="38001">38001</option>
                              <option value="38002">38002</option>
                              <option value="38003">38003</option>
                              <option value="38004">38004</option>
                              <option value="38006">38006</option>
                              <option value="38007">38007</option>
                              <option value="38008">38008</option>
                              <option value="38011">38011</option>
                              <option value="38012">38012</option>
                              <option value="38013">38013</option>
                              <option value="39001">39001</option>
                              <option value="39002">39002</option>
                              <option value="39003">39003</option>
                              <option value="39005">39005</option>
                              <option value="39006">39006</option>
                              <option value="40001">40001</option>
                              <option value="40002">40002</option>
                              <option value="40003">40003</option>
                              <option value="40004">40004</option>
                              <option value="40005">40005</option>
                              <option value="40006">40006</option>
                              <option value="40007">40007</option>
                              <option value="40008">40008</option>
                              <option value="40009">40009</option>
                              <option value="40010">40010</option>
                              <option value="40011">40011</option>
                              <option value="40013">40013</option>
                              <option value="40014">40014</option>
                              <option value="40015">40015</option>
                              <option value="40016">40016</option>
                              <option value="40017">40017</option>
                              <option value="40018">40018</option>
                              <option value="44001">44001</option>
                              <option value="44002">44002</option>
                              <option value="44003">44003</option>
                              <option value="44004">44004</option>
                              <option value="44005">44005</option>
                              <option value="44006">44006</option>
                              <option value="44007">44007</option>
                              <option value="44008">44008</option>
                              <option value="44009">44009</option>
                              <option value="44010">44010</option>
                              <option value="44011">44011</option>
                              <option value="44012">44012</option>
                              <option value="44013">44013</option>
                              <option value="44014">44014</option>
                              <option value="44015">44015</option>
                              <option value="44031">44031</option>
                              <option value="44032">44032</option>
                              <option value="44033">44033</option>
                              <option value="44034">44034</option>
                              <option value="44035">44035</option>
                              <option value="44036">44036</option>
                              <option value="44037">44037</option>
                              <option value="44038">44038</option>
                              <option value="44039">44039</option>
                              <option value="46001">46001</option>
                              <option value="46002">46002</option>
                              <option value="46003">46003</option>
                              <option value="46004">46004</option>
                              <option value="46005">46005</option>
                              <option value="46006">46006</option>
                              <option value="46007">46007</option>
                              <option value="46008">46008</option>
                              <option value="46009">46009</option>
                              <option value="46011">46011</option>
                              <option value="46012">46012</option>
                              <option value="46013">46013</option>
                              <option value="46014">46014</option>
                              <option value="46015">46015</option>
                              <option value="46016">46016</option>
                              <option value="46017">46017</option>
                              <option value="46018">46018</option>
                              <option value="46019">46019</option>
                              <option value="46020">46020</option>
                              <option value="46021">46021</option>
                              <option value="46022">46022</option>
                              <option value="46023">46023</option>
                              <option value="46024">46024</option>
                              <option value="46025">46025</option>
                              <option value="46026">46026</option>
                              <option value="46027">46027</option>
                              <option value="46028">46028</option>
                              <option value="46029">46029</option>
                              <option value="46030">46030</option>
                              <option value="46031">46031</option>
                              <option value="46032">46032</option>
                              <option value="46033">46033</option>
                              <option value="46034">46034</option>
                              <option value="46035">46035</option>
                              <option value="46036">46036</option>
                              <option value="46037">46037</option>
                              <option value="46038">46038</option>
                              <option value="46039">46039</option>
                              <option value="46048">46048</option>
                              <option value="46050">46050</option>
                              <option value="46051">46051</option>
                              <option value="46052">46052</option>
                              <option value="46053">46053</option>
                              <option value="46054">46054</option>
                              <option value="46055">46055</option>
                              <option value="46056">46056</option>
                              <option value="46057">46057</option>
                              <option value="46058">46058</option>
                              <option value="46059">46059</option>
                              <option value="46062">46062</option>
                              <option value="46063">46063</option>
                              <option value="46064">46064</option>
                              <option value="46070">46070</option>
                              <option value="46071">46071</option>
                              <option value="46089">46089</option>
                              <option value="46090">46090</option>
                              <option value="46091">46091</option>
                              <option value="46092">46092</option>
                              <option value="46093">46093</option>
                              <option value="46094">46094</option>
                              <option value="46095">46095</option>
                              <option value="46096">46096</option>
                              <option value="46097">46097</option>
                              <option value="46098">46098</option>
                              <option value="46099">46099</option>
                              <option value="46101">46101</option>
                              <option value="46102">46102</option>
                              <option value="46103">46103</option>
                              <option value="46104">46104</option>
                              <option value="46105">46105</option>
                              <option value="46106">46106</option>
                              <option value="46107">46107</option>
                              <option value="46108">46108</option>
                              <option value="46109">46109</option>
                              <option value="46110">46110</option>
                              <option value="46111">46111</option>
                              <option value="46112">46112</option>
                              <option value="46113">46113</option>
                              <option value="46114">46114</option>
                              <option value="46116">46116</option>
                              <option value="46117">46117</option>
                              <option value="46118">46118</option>
                              <option value="46119">46119</option>
                              <option value="46120">46120</option>
                              <option value="46121">46121</option>
                              <option value="46122">46122</option>
                              <option value="46123">46123</option>
                              <option value="46124">46124</option>
                              <option value="46125">46125</option>
                              <option value="46400">46400</option>
                              <option value="46401">46401</option>
                              <option value="46402">46402</option>
                              <option value="46403">46403</option>
                              <option value="46404">46404</option>
                              <option value="46405">46405</option>
                              <option value="46406">46406</option>
                              <option value="46407">46407</option>
                              <option value="46408">46408</option>
                              <option value="46409">46409</option>
                              <option value="47001">47001</option>
                              <option value="47002">47002</option>
                              <option value="47010">47010</option>
                              <option value="47108">47108</option>
                              <option value="47501">47501</option>
                              <option value="47502">47502</option>
                              <option value="47503">47503</option>
                              <option value="47504">47504</option>
                              <option value="47505">47505</option>
                              <option value="47506">47506</option>
                              <option value="47507">47507</option>
                              <option value="47508">47508</option>
                              <option value="47509">47509</option>
                              <option value="47510">47510</option>
                              <option value="47511">47511</option>
                              <option value="47512">47512</option>
                              <option value="47513">47513</option>
                              <option value="47514">47514</option>
                              <option value="47515">47515</option>
                              <option value="47516">47516</option>
                              <option value="50001">50001</option>
                              <option value="50002">50002</option>
                              <option value="50003">50003</option>
                              <option value="50004">50004</option>
                              <option value="52021">52021</option>
                              <option value="52022">52022</option>
                              <option value="52023">52023</option>
                              <option value="52024">52024</option>
                              <option value="52025">52025</option>
                              <option value="52026">52026</option>
                              <option value="52028">52028</option>
                              <option value="52030">52030</option>
                              <option value="52031">52031</option>
                              <option value="52032">52032</option>
                              <option value="52034">52034</option>
                              <option value="52035">52035</option>
                              <option value="52036">52036</option>
                              <option value="52039">52039</option>
                              <option value="52040">52040</option>
                              <option value="53001">53001</option>
                              <option value="53002">53002</option>
                              <option value="56001">56001</option>
                              <option value="56002">56002</option>
                              <option value="56003">56003</option>
                              <option value="56004">56004</option>
                              <option value="56005">56005</option>
                              <option value="56006">56006</option>
                              <option value="56007">56007</option>
                              <option value="56008">56008</option>
                              <option value="56009">56009</option>
                              <option value="56010">56010</option>
                              <option value="56011">56011</option>
                              <option value="56012">56012</option>
                              <option value="56013">56013</option>
                              <option value="56014">56014</option>
                              <option value="56015">56015</option>
                              <option value="56016">56016</option>
                              <option value="56017">56017</option>
                              <option value="56018">56018</option>
                              <option value="56019">56019</option>
                              <option value="56020">56020</option>
                              <option value="56021">56021</option>
                              <option value="56022">56022</option>
                              <option value="56023">56023</option>
                              <option value="56024">56024</option>
                              <option value="56025">56025</option>
                              <option value="56027">56027</option>
                              <option value="56028">56028</option>
                              <option value="56029">56029</option>
                              <option value="56030">56030</option>
                              <option value="56031">56031</option>
                              <option value="56032">56032</option>
                              <option value="56033">56033</option>
                              <option value="56034">56034</option>
                              <option value="56035">56035</option>
                              <option value="56036">56036</option>
                              <option value="56037">56037</option>
                              <option value="56038">56038</option>
                              <option value="56039">56039</option>
                              <option value="56040">56040</option>
                              <option value="56041">56041</option>
                              <option value="56042">56042</option>
                              <option value="56043">56043</option>
                              <option value="56044">56044</option>
                              <option value="56045">56045</option>
                              <option value="56046">56046</option>
                              <option value="56047">56047</option>
                              <option value="56048">56048</option>
                              <option value="56049">56049</option>
                              <option value="56050">56050</option>
                              <option value="56051">56051</option>
                              <option value="56052">56052</option>
                              <option value="56053">56053</option>
                              <option value="56054">56054</option>
                              <option value="56055">56055</option>
                              <option value="56056">56056</option>
                              <option value="56057">56057</option>
                              <option value="56058">56058</option>
                              <option value="56059">56059</option>
                              <option value="56060">56060</option>
                              <option value="56061">56061</option>
                              <option value="56062">56062</option>
                              <option value="56063">56063</option>
                              <option value="56064">56064</option>
                              <option value="56065">56065</option>
                              <option value="56066">56066</option>
                              <option value="56067">56067</option>
                              <option value="56068">56068</option>
                              <option value="56069">56069</option>
                              <option value="56070">56070</option>
                              <option value="56071">56071</option>
                              <option value="57001">57001</option>
                              <option value="57101">57101</option>
                              <option value="57102">57102</option>
                              <option value="57103">57103</option>
                              <option value="57104">57104</option>
                              <option value="57105">57105</option>
                              <option value="57106">57106</option>
                              <option value="57201">57201</option>
                              <option value="57901">57901</option>
                              <option value="57902">57902</option>
                              <option value="57903">57903</option>
                              <option value="57904">57904</option>
                              <option value="57905">57905</option>
                              <option value="57906">57906</option>
                              <option value="58009">58009</option>
                              <option value="58016">58016</option>
                              <option value="58022">58022</option>
                              <option value="58023">58023</option>
                              <option value="58025">58025</option>
                              <option value="58026">58026</option>
                              <option value="58027">58027</option>
                              <option value="58028">58028</option>
                              <option value="58029">58029</option>
                              <option value="58030">58030</option>
                              <option value="58031">58031</option>
                              <option value="58032">58032</option>
                              <option value="58054">58054</option>
                              <option value="58055">58055</option>
                              <option value="58056">58056</option>
                              <option value="58057">58057</option>
                        </select>
                  </div>

                  <div class="outreach_box">
                        <h3>Outreach Type</h3>
                        <input type="radio" id="phonebank" name="outreach_type" value="Phone Bank">
                        <label for="phonebank">Phone Bank</label>

                        <input type="radio" id="textbank" name="outreach_type" value="Text Bank">
                        <label for="textbank">Text Bank</label>

                        <input type="radio" id="mailed" name="outreach_type" value="Mailers">
                        <label for="mailed">Mailers</label>

                        <br> <br>

                        <input type="radio" id="litdrop" name="outreach_type" value="Lit Drop">
                        <label for="litdrop">Literature Drop</label>

                        <input type="radio" id="doorknock" name="outreach_type" value="Door Knock">
                        <label for="doorknock">Canvassing</label>

                        <input type="radio" id="general" name="outreach_type" value="None of These">
                        <label for="general">None of These</label>
                  </div>
            
                  <div class="outreach_box">
                        <input type="submit" value="Submit">
                  </div>
            
            </form>

            {% endblock %}

      </body>

</html>